.wrap{
  width:100%;
  overflow:auto;
  max-height: 560px;
}
td .col{
  padding:0 2px;
  margin-left:2px;
  background:#E7F2F2;
  display:inline-block;
}
td .col.red{
  background-color: 'red';
}
td.red{
  background-color: 'red';
}
td .col.bg{
  color:#340AF9 !important
}
.customermeters li.removeme{
  text-decoration: line-through;
}
ul.glst{
  margin:0 !important;
}
ul.glst li{
  display: inline-block;
  font-size: 9px;
  padding:0 3px;
  border-radius: 4px;
}
ul.glst li.btn{
  background-color: #ccc;
}
ul.glst li.info{
  padding: 2px 5px 0 5px;
  text-align: center;
  margin: 0;
  width: 24px;
  color: #fff;
}
ul.glst li.info.green{
  background-color: green;
}
ul.glst li.info.red{
  background-color: red;
}
.showopt{
  display: inline-block;
  padding:5px;
}
.showopt input{
  display: inline-block;
  margin-left:5px;
}